/*----- СПЕЦИФИКАЦИЯ ------*/
.fab {
    font-family: 'fa-brands-400', sans-serif;
}
.fas{
    font-family: 'fa-solid-900', sans-serif;
}
.far {
    font-family: 'fa-regular-400', sans-serif;
}
/*_____HEADER-SOCIAL_____*/
.header-social {
    border-bottom: 1px solid #e5e5e5;
    padding: 14px 0;
}
.social {
    font-size: 14px;
    color: #bec2c7;
}
.social i {
    margin-left: 20px;
}
.social i:hover {
    color: #6b7c93;
}
.head-tell {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 12px;
}
.head-tell__name {
    color: #303842;
    margin-right: 12px;
}
.head-tell__tell {
    color: #6b7c93;

}